<div class="col-md-6" style="margin:0px auto">
    <table class="table table-md">
      <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">STRIDE Catagory</th>
            <th scope="col">Vulnerable Index</th>
            <th scope="col">Weight</th>
            <th scope="col">W * VI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Spoofing</td>
            <td>{{spoofingVI}}</td>
            <td>{{w_spoofing}}</td>
            <td>{{W_spoofingVI}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Tampering</td>
            <td>{{tamperingVI}}</td>
            <td>{{w_tampering}}</td>
            <td>{{W_tamperingVI}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Repudiation</td>
            <td>{{repudiationVI}}</td>
            <td>{{w_repudiation}}</td>
            <td>W_repudiationVI</td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td>Information disclosure</td>
              <td>{{informationVI}}</td>
              <td>{{w_information}}</td>
              <td>W_informationVI</td>
            </tr>
         <tr>
            <th scope="row">5</th>
            <td>Denial of Service</td>
            <td>{{denialVI}}</td>
            <td>{{w_denial}}</td>
            <td>W_denialVI</td>
          </tr>  
         <tr>
            <th scope="row">6</th>
            <td>Elevation of Privilege</td>
            <td>{{elevationVI}}</td>
            <td>{{w_elevation}}</td>
            <td>W_elevationVI</td>
          </tr>    
        </tbody>
      </table>
  </div>