<div>
    <app-mainnavbar></app-mainnavbar>
</div>

<div class="jumbotron">
    <h1 class="display-4">Welcome to OntoRESec!</h1>
    <p class="lead">Design and Implementation of Ontology-based Evaluation System for Design Quality in Software Reverse Engineering : Focusing on Security</p>
    <hr class="my-4">
    <p>Please be sure if your project has been written in eclipse IDE.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/mainpage">Start</a>
</div>
<router-outlet></router-outlet>

