<div>
    <app-mainnavbar></app-mainnavbar>
</div>

<div class="jumbotron">
    <h1 class="display-4">Welcome to OntoRESec!</h1>
    <p class="lead">Design and Implementation of Ontology-based Evaluation System for Design Quality in Software Reverse Engineering : Focusing on Security</p>
    <hr class="my-4">
    <p>Please be sure if your project has been written in eclipse IDE.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
  </div>

<!-- <div>
  <app-mainnavbar></app-mainnavbar>
</div>

<div class="container">
  <div class="row">
    <div class="col-md">
        <app-stridenav></app-stridenav>
    </div>
    <div class="col-md">
        <app-score-board></app-score-board>
    </div>
  </div>
  <app-results></app-results>
</div>
 -->


