<table class="table table-responsive table-borderless">
  <thead>
    <tr>
      <th scope="col">#1</th>
      <th scope="col">Category</th>
      <th scope="col">Prefer Weights</th>
      <th scope="col">Weight Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Spoofing</td>
      <td><input [(ngModel)]="w_spoofing" type="range"  value="0" step="1" max="5"/></td>
      <td>{{w_spoofing}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tampering</td>
      <td><input [(ngModel)]="w_tampering" type="range"  value="0" step="1" max="5"/></td>
      <td>{{w_tampering}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Repudiation</td>
      <td><input [(ngModel)]="w_repudiation" type="range"  value="0" step="1" max="5"/></td>
      <td>{{w_repudiation}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Information Disclosure</td>
      <td><input [(ngModel)]="w_information" type="range"  value="0" step="1" max="5"/></td>
      <td>{{w_information}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Denial of Service</td>
      <td><input [(ngModel)]="w_denial" type="range"  value="0" step="1" max="5"/></td>
      <td>{{w_denial}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Elevation of Privilege</td>
      <td><input [(ngModel)]="w_elevation" type="range"  value="0" step="1" max="5"/></td>
      <td>{{w_elevation}}</td>
    </tr>
  </tbody>
</table>

<!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <button (click)="Submit()" type="button" class="btn btn-success">Submit</button>
  </div>
</div> -->

