<table class="table table-responsive table-borderless">
  <thead>
    <tr>
      <th scope="col">#1</th>
      <th scope="col">Category</th>
      <th scope="col">Prefer Weights</th>
      <th scope="col">Weight Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Spoofing</td>
      <td><input [(ngModel)]="strideVal.spoofing" type="range"  value="0" step="1" max="5"/></td>
      <td>{{strideVal.spoofing}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tampering</td>
      <td><input [(ngModel)]="strideVal.tampering" type="range"  value="0" step="1" max="5"/></td>
      <td>{{strideVal.tampering}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Repudiation</td>
      <td><input [(ngModel)]="strideVal.repudiation" type="range"  value="0" step="1" max="5"/></td>
      <td>{{strideVal.repudiation}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Information Disclosure</td>
      <td><input [(ngModel)]="strideVal.information" type="range"  value="0" step="1" max="5"/></td>
      <td>{{strideVal.information}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Denial of Service</td>
      <td><input [(ngModel)]="strideVal.denial" type="range"  value="0" step="1" max="5"/></td>
      <td>{{strideVal.denial}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Elevation of Privilege</td>
      <td><input [(ngModel)]="strideVal.elevation" type="range"  value="0" step="1" max="5"/></td>
      <td>{{strideVal.elevation}}</td>
    </tr>
  </tbody>
</table>
