<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Spoofing</title><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="../../assets/S.jpg" width="100%" height="100%"/></svg>
        <div class="card-body">
          <p class="card-text">Spoofing - 欺騙<br/></p>
          <div>
              <label>Weight: <br> </label> <input [(ngModel)]="strideVal.spoofing" type="range"  value="0" step="1" max="5"/> {{strideVal.spoofing}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Tampering</title><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="../../assets/T.jpg" width="100%" height="100%"/></svg>
        <div class="card-body">
          <p class="card-text">Tampering - 竄改</p>
          <div>
              <label>Weight: <br> </label> <input [(ngModel)]="strideVal.tampering" type="range"  value="0" step="1" max="5"/> {{strideVal.tampering}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Repudiation</title><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="../../assets/R.jpg" width="100%" height="100%"/></svg>
        <div class="card-body">
          <p class="card-text">Repudiation - 否認</p>
          <div>
              <label>Weight: <br> </label> <input [(ngModel)]="strideVal.repudiation" type="range"  value="0" step="1" max="5"/> {{strideVal.repudiation}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Information disclosure</title><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="../../assets/I.jpg" width="100%" height="100%"/></svg>
        <div class="card-body">
          <p class="card-text">Information disclosure - 資訊接露</p>
          <div>
              <label>Weight: <br> </label> <input [(ngModel)]="strideVal.information" type="range"  value="0" step="1" max="5"/> {{strideVal.information}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Denial of Service</title><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="../../assets/D.jpg" width="100%" height="100%"/></svg>
        <div class="card-body">
          <p class="card-text">Denial of Service - 拒絕服務</p>
          <div>
              <label>Weight: <br> </label> <input [(ngModel)]="strideVal.denial" type="range"  value="0" step="1" max="5"/> {{strideVal.denial}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Elevation of privilge</title><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="../../assets/E.jpg" width="100%" height="100%"/></svg>
        <div class="card-body">
          <p class="card-text">Elevation of privilge - 提升權限</p>
          <div>
              <label>Weight: <br> </label> <input [(ngModel)]="strideVal.elevation" type="range"  value="0" step="1" max="5"/> {{strideVal.elevation}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-success btn-block">Submit</button>
  </div>
 

  